<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track order</title>
</head>
<body>
    <ul>
        <li>Tracking Id : <%= track%></li>
        <li>Shipement Id: <%= orderdetails.shipmentId%></li>
        <li>Arriving At: <%= orderdetails.delivery_date %></li>
        <li>Current Status: <%= orderdetails.status %></li>
        <li>Status at: <%= orderdetails.Datetime %></li>
        <li>Logistics Service Provider: <%= orderdetails.service %></li>
    </ul>
</body>
</html>